@import '../../../../../../utils.scss';

@media screen and (min-width: 651px) {
  .FriendsBlock {
    margin-top: -2.25%;
    //width: 48%;
    min-width: 26vw;
    max-width: 26vw;
    margin-left: -2vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding-top: 0;
    border-radius: 0;

    h3 {
      background-color: var(--grey6);
      padding: 0.3vw 1vw;
      border-radius: 0.4vw;
      margin-top: 6%;
      color: var(--blue2);
      font-size: 1.3vw;
    }

    ::-webkit-scrollbar {
      width: 0;
    }
    .Friends {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 92%;
      max-height: 75%;
      background-color: var(--grey6);
      margin-top: -4.5%;
      border-radius: 1.5vw;
      overflow-y: auto;
      .list {
        margin-top: 0;
        padding-top: 0;
        width: 90%;
        .friendsListElement {
          width: 100%;
          margin-top: 0;
          margin-left: 0;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 1px solid var(--grey2);
          height: 80px;
          height: 4vw;

          div {
            margin-top: -1%;
            width: 3.8vw;
            height: 2.2vw;
            img {
              width: 2.2vw;
              min-height: 2.2vw;
              max-height: 2.2vw;
              border-radius: 100%;
              border: 0.2vw solid var(--blue2);
              border: 0.1vw solid var(--grey2);
              margin-right: 0;
            }
          }

          .FriendName {
            width: 50%;
            font-size: 1.2vw;
            color: var(--blue2);
            text-align: left;
            margin-left: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .Online,
          .Offline,
          .Ingame {
            font-size: 1vw;
            color: $white1;
            text-align: left;
            margin-left: 12%;
            padding: 0.3vw;
            border-radius: 0.5vw;
            border: 0.1vw solid var(--blue2);
          }

          .Online {
            background-color: $green1;
          }
          .Offline {
            background-color: $red1;
          }
          .Ingame {
            background-color: var(--blue3);
          }
        }

        .friendsListElement:last-child {
          border-bottom: 0px solid var(--grey2);
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .FriendsBlock {
    margin-top: -3%;
    width: 91%;
    min-height: 89vw;
    min-height: 89vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2.5vw;

    padding-top: 0;
    border-radius: 0;

    h3 {
      background-color: var(--grey6);
      padding: 2vw 2vw;
      border-radius: 1vw;
      color: var(--blue2);
      font-size: 3.5vw;
      margin-top: -7.5%;
      margin-bottom: 5%;
    }

    ::-webkit-scrollbar {
      width: 0;
    }
    .Friends {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 92%;
      min-height: 75%;
      max-height: 75%;
      background-color: var(--grey6);
      margin-top: -20%;
      border-radius: 2.5vw;
      overflow-y: auto;
      .list {
        margin-top: 0;
        padding-top: 0;
        width: 90%;
        .friendsListElement {
          width: 100%;
          margin-top: 0;
          margin-left: 0;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 1px solid var(--grey2);
          height: 12vw;

          div {
            margin-top: -10%;
            width: 3.8vw;
            height: 2.2vw;
            img {
              width: 8vw;
              min-height: 8vw;
              max-height: 8vw;
              border-radius: 100%;
              border: 0.2vw solid $white1;
              border: 0.1vw solid var(--grey2);
              margin-right: 0;
              margin-left: 30%;
            }
          }

          .FriendName {
            width: 50%;
            font-size: 1.2vw;
            color: $white1;
            text-align: left;
            margin-left: 0;
            font-size: 3vw;
            color: $white1;
            margin-left: 13%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .Online,
          .Offline,
          .Ingame {
            font-size: 3vw;
            color: $white1;
            text-align: left;
            margin-left: 8%;
            padding: 1vw;
            border-radius: 1vw;
            border: 0.2vw solid $white1;
          }

          .Online {
            background-color: $green1;
          }
          .Offline {
            background-color: $red1;
          }
          .Ingame {
            background-color: var(--blue3);
          }
        }

        .friendsListElement:last-child {
          border-bottom: 0px solid var(--grey2);
        }
      }
    }
  }
}
