@import "../../../../utils.scss";

.JoinChannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .HideChannelToJoin {
    display: none;
  }

  .ChannelToJoin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $grey2;
    

    p {
      color: $white1;
    }

    button {
      background-color: $green1;
      border: 1px solid $green2;
      color: $white1;
      cursor: pointer;
    }

  }
}

@media screen and (min-width: 651px) {

  .ChannelToJoin {
    width: 60%;
    padding: 0.5% 5%;
    margin-bottom: 20px;
    border-radius: 1.5vw;

    p {
      font-size: 1.2vw;
    }

    button {
      padding: 1%;
      width: 25%;
      font-size: 1.2vw;

      border-radius: 0.3vw;
    }
  }
}

@media screen and (max-width: 651px) {

  .ChannelToJoin {
    width: 80%;
    padding: 2.5% 5%;
    margin-bottom: 4vw;
    border-radius: 2.5vw;

    p {
      font-size: 4vw;
      text-align: left;
    }

    button {
      padding: 1%;
      width: 60%;
      font-size: 4vw;

      border-radius: 1vw;
    }
  }
}

