@import '../../../../utils.scss';

.JoinChannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    width: 100%;
    margin-top: 0;
    padding: 15px 0;
    color: $white1;
    background-color: $blue5;
  }

  .HideChannelToJoin {
    display: none;
  }

  .ChannelToJoin {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 5%;
    border: 1px solid $grey2;
    margin-bottom: 20px;
    border-radius: 1.5vw;

    p {
      color: $white1;
      font-size: 1.2vw;
    }

    button {
      background-color: $green1;
      border: 1px solid $green2;
      color: $white1;
      border-radius: 0.3vw;
      cursor: pointer;
      padding: 1%;
      width: 25%;
      font-size: 1.2vw;
    }

    button:hover {
      background-color: $green2;
      border: 1px solid $green1;
    }
  }
}
