@import '../../utils.scss';

.OtherUserProfile {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  .OtherUserProfileLeft {
    margin-left: 6vw;
    margin-right: 5vw;
    background-color: $grey6;
    width: 15vw;
    border-radius: 20px;
    height: 32vh;
    img {
      margin-top: 20px;
      width: 10vw;
      border-radius: 50%;
    }
    h1 {
    }
  }

  .OtherUserProfileRight
  {
    width: 65vw;
    height: 70vh;
    background-color: $grey6;
    border-radius: 20px;
  }
}
