@import '../../utils.scss';

.Header
{
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01cm solid $grey1;
    height: 16vh;

    h1 
    {
        font-size: 45px;
        font-weight: bold;
        font-family: 'Quintessential', cursive;
        /*font-family: 'Permanent Marker', cursive;*/
    }

    .Navigation
    {
        display: flex;
        flex-direction: row;
        align-items: center;

        a
        {
            text-decoration: none;
            color: $blue2;
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            font-size: 20px;
            margin-right: 25px;
        }
        
        a:hover 
        {
            color: $blue3;
        }

        .showLogin , .showLogout
        {
            cursor: pointer;
            display: block;
            padding: 10px;
            background-color: $blue2;
            border: 0.05px solid $blue3;
            border-radius: 10px;
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            font-size: 20px;
            color: $blue1;
        }

        .showLogin:hover , .showLogout:hover
        {
            background-color: $blue3;
            border: 0.05px solid $blue2;
            color: $blue2;
        }

        .hideLogin , .hideLogout
        {
            display: none;
        }
    }
}