@import "../../utils.scss";

@media screen and (max-width: 650px) {
  .Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 0.3px solid $grey2;
    min-height: 20vw;
    max-height: 20vw;
    position: relative;

    h1 {
      font-size: 7.5vw;
    }
    .BurgerMenu {
      width: 6vw;
      height: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      div {
        background-color: $white1;
        width: 100%;
        height: 20%;
        transition: all 0.5s ease-in-out;
      }
    }

    .BurgerMenuCross {
      width: 6vw;
      height: 6vw;
      cursor: pointer;
      div {
        background-color: $white1;
        width: 100%;
        height: 20%;
        transition: all 0.5s ease-in-out;
      }

      .BurgerMenuMiddle {
        background: transparent;
        width: 0;
      }

      .BurgerMenuTop {
        width: 132%;
        transform: rotate(45deg) translateX(1.05vw) translateY(2.35vw);
        border-radius: 5px;
      }

      .BurgerMenuBottom {
        width: 132%;
        transform: rotate(-45deg) translateX(-0.65vw) translateY(-0.65vw);
        border-radius: 5px;
      }
    }

    .HideNavigation {
      visibility: hidden;
      right: -100vw;
      .Link,
      .showLogin,
      .showLogout {
        transform: translateX(100vw);
      }
    }

    .ShowNavigation {
      right: 0;
      visibility: visible;
      .Link,
      .showLogin,
      .showLogout {
        transform: translateX(0);
      }

      .Game 
      {
        transition: all 0.8s ease-out;
      }
      .Chat 
      {
        transition: all 0.9s ease-out;
      }
      .Profile 
      {
        transition: all 1s ease-out;
      }
      .showLogin,.showLogout 
      {
        transition: all 1.1s ease-out;
      }
    }

    .Navigation {
      position: fixed;
      top: 22vw;
      transition: all 0.8s ease-out;
      width: 100vw;
      background-color: $black;
      height: -webkit-calc(100vh - 20vw);
      z-index: 10;

      display: flex;
      flex-direction: column;
      align-items: center;

      .Link,
      .showLogin,
      .showLogout {
        margin-top: 7vw;
        font-size: 5vw;
      }

      .showLogin,
      .showLogout {
        padding: 2vw;
        border: 0.05px solid $blue3;
        border-radius: 1.5vw;
      }
    }
  }
}

@media screen and (min-width: 651px) {
  .Header {
    margin: 10px 50px;
    margin: 1vw 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01cm solid $grey1;
    height: 16vh;
    margin-bottom: 0;

    h1 {
      font-size: 3vw;
      font-weight: bold;
      font-family: "Quintessential", cursive;
      /*font-family: 'Permanent Marker', cursive;*/
    }

    .BurgerMenu {
      display: none;
    }

    .Navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      //margin-right: 2%;

      a {
        font-size: 20px;
        font-size: 1.65vw;
        margin-right: 25px;
      }

      .showLogin,
      .showLogout {
        padding: 1vw;
        font-size: 1.65vw;
        border: 0.05px solid $blue3;
        border-radius: 0.8vw;
      }
    }
  }
}

.Navigation {
  a {
    text-decoration: none;
    color: $blue2;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
  }

  a:hover {
    color: $blue3;
  }

  .showLogin,
  .showLogout {
    cursor: pointer;
    display: block;
    background-color: $blue2;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: $blue1;
  }

  .showLogin:hover,
  .showLogout:hover {
    background-color: $blue3;
    border: 0.05px solid $blue2;
    color: $blue2;
  }

  .hideLogin,
  .hideLogout {
    display: none;
  }
}
