@import '../../utils.scss';

.Header
{
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01cm solid $grey1;

    h1 
    {
        font-size: 45px;
        font-weight: bold;
        font-family: 'Quintessential', cursive;
    }

    .Navigation
    {
        a
        {
            text-decoration: none;
            color: $blue2;
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            font-size: 20px;
            margin-right: 25px;
        }
        
        a:hover 
        {
            color: $blue3;
        }

        .showLogin 
        {
            display: block;
        }

        .hideLogin 
        {
            display: none;
        }
    }
}