@import '../../../../../../utils.scss';

@media screen and (min-width: 651px) {
  .Pongopoints {
    width: 44%;
    height: 75%;
    border-radius: 1.5vw;
    background-color: $grey6;
    //margin-left: 2.39%;
    margin-left: 4.8%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .Top {
      width: 100%;
      height: 65%;
      margin-left: 0;
      z-index: 1;
      #valuePongopoints {
        font-size: 5vw;
        margin-top: 15%;
        margin-bottom: 0;
      }
    }

    .Bottom {
      width: 100%;
      height: 35%;
      background-color: $grey6;
      margin-left: 0;
      p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2vw;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .Pongopoints {
    width: 40%;
    height: 78%;
    border-radius: 2.5vw;
    background-color: $grey6;
    margin-right: 3%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .Top {
      width: 100%;
      height: 65%;
      margin-left: 0;
      z-index: 1;
      #valuePongopoints {
        font-size: 11vw;
        margin-top: 15%;
        margin-bottom: 0;
      }
    }

    .Bottom {
      width: 100%;
      height: 35%;
      background-color: $grey6;
      margin-left: 0;
      border-radius: 2.5vw;
      p {
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
      }
    }
  }
}
