@import "../../../../utils.scss";

.ChannelSettings {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 82vh;
  overflow-y: scroll;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 0.4vw;
  }

  ::-webkit-scrollbar-track {
    background: $blue5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $blue5;
    border: 0.01vw solid rgb(95, 93, 93);
    border-radius: 1.5vw;
  }

  h3 {
    margin-top: 0;
    background-color: $blue5;
    padding: 1vw;
    font-size: 1.2vw;
    margin-bottom: 0;
  }

  .ChannelUsers {
    width: 100%;

    .ChannelUser {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      color: $white1;
      margin-left: 1vw;
      height: 3.5vw;

      img {
        border-radius: 100%;
        border: 0.1vw solid $white1;
        margin-top: 0.425vw;
        margin-right: 0.5vw;
        width: 2.5vw;
        height: 2.5vw;
      }

      p {
        font-size: 1.1vw;
        margin-left: 0;
        text-align: left;
      }
    }
  }

  .UserSettings {
    margin-top: 0.2vw;
    width: 100%;

    button {
      border: none;
      color: $white1;
      margin-top: 1vw;
      padding: 0.8vw;
      border-radius: 0.5vw;
      width: 80%;
      font-size: 1.2vw;
      cursor: pointer;
      background-color: $red1;
      margin-bottom: 0.8vw;
    }
  }

  .HideAdminSettings {
    display: none;
  }

  .ShowAdminSettings {
    margin-top: 0.2vw;
    width: 100%;
    width: 92%;
    position: relative;

    h3 {
      width: 110%;
      margin-left: -10%;
    }

    form {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1vw;
      margin-left: 0;
      width: 100%;

      p
      {
        min-width: 50%;
        max-width: 50%;
        text-align: left;
      }
      input {
        background-color: $grey2;
        border: 1px solid $grey2;
        border-radius: 3vw;
        font-size: 1vw;
        width: 42%;
        height: 1.2vw;
        outline: none;
        color: $white1;
        padding: 0.2vw 0.4vw;
      }

      /*.BanUserInput {
        margin-left: 2.2vw;
      }

      .UnbanUserInput {
        margin-left: 2.1vw;
      }

      .MuteUserInput {
        margin-left: 1.8vw;
      }

      .UnmuteUserInput {
        margin-left: 0.5vw;
      }*/
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1vw;
    }

    .BanUser {
      position: absolute;
      justify-content: space-between;
      margin-top: 0.8vw;
      z-index: 3;
    }

    .UnbanUser {
      position: absolute;
      margin-top: 6.8vw;
      justify-content: space-between;
      z-index: 1;
    }

    .MuteUser {
      position: absolute;
      margin-top: 9.7vw;
      justify-content: space-between;

      z-index: 1;
    }

    .UnmuteUser {
      position: absolute;
      margin-top: 15.7vw;
      justify-content: space-between;
      z-index: 0;
    }
  }

  .HideCreatorSettings {
    display: none;
  }

  .ShowCreatorSettings {
    margin-top: 18.2vw;
    width: 93%;
    display: flex;
    flex-direction: column;
    position: relative;

    .HideChangeChannelMode,
    .HideChangePasswordSettings,
    .HideSetPassword{
      display: none;
    }

    h3 {
      width: 110%;
      margin-left: -10%;
    }
    .NewAdmin {
      position: absolute;
      margin-top: 3.4vw;
      width: 100%;
      justify-content: space-between;
    }

    .SetPassword {
      margin-top: 6.7vw;
      justify-content: space-between;
    }

    .ConfirmSetPassword {
      margin-top: -0.5vw;
      justify-content: space-between;
    }

    .ChangeChannelMode {
      background-color: $green1;
      border: 0.1vw solid $green3;
      color: $white1;
      padding: 3%;
      width: 70%;
      border-radius: 0.3vw;
      margin: auto;
      margin-bottom: 1vw;
      cursor: pointer;
      font-size: 1vw;
    }

    .ChangeChannelMode:hover {
      background-color: $green2;
    }

    .MarginZero {
      margin-top: 0vw;
    }

    .MarginSevenHalf {
      margin-top: 7.5vw;
    }

    .NewPassword {
      justify-content: space-between;
    }

    .ConfirmNewPassword {
      margin-top: -0.5vw;
      justify-content: space-between;
    }

    .ActualPassword {
      margin-top: -0.5vw;
      justify-content: space-between;
      margin-bottom: 0vw;
    }

    .ChangePassword {
      background-color: $green1;
      border: 0.1vw solid $green3;
      color: $white1;
      padding: 3%;
      width: 60%;
      border-radius: 0.3vw;
      margin: auto;
      margin-bottom: 1vw;
      cursor: pointer;
      font-size: 1vw;
    }

    .ChangePassword:hover {
      background-color: $green2;
    }

    form {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1vw;

      input {
        background-color: $grey2;
        border: 1px solid $grey2;
        border-radius: 3vw;
        font-size: 1vw;
        width: 42%;
        height: 1.2vw;
        outline: none;
        color: $white1;
        padding: 0.2vw 0.4vw;
      }
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1vw;

      input {
        background-color: $grey2;
        border: 1px solid $grey2;
        border-radius: 3vw;
        font-size: 1vw;
        width: 42%;
        height: 1.2vw;
        outline: none;
        color: $white1;
        padding: 0.2vw 0.4vw;
      }
    }
  }
}
