@import '../../utils.scss';

body
{
  margin-left: 0;
  div 
  {
  }
  background-color: var(--blue2);
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: var(--blue4);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue5);
  border: 0.01vw solid rgb(95, 93, 93);
  border-radius: 1.5vw;
}
.Layout {
  background-color: var(--blue1);
  background-color: var(--blue1);
  min-height: 100vh;
  margin-top:0;
  color: var(--blue2);

  .DoubleAuth {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5vw;
    width: 25vw;
    height: 25vw;
    background-color: var(--blue4);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;

    img {
      width: 45%;
      margin-top: 10%;
      margin-bottom: 10%;
    }

    input {
      margin-bottom: 7%;
      width: 50%;
      background-color: var(--grey2);
      border: 1px solid var(--grey2);;
      border-radius: 3vw;
      font-size: 1.5vw;
      outline: none;
      color: $white1;
      padding: 0.4vw 0.8vw;
      text-align: center;
    }

    input::placeholder {
      color: var(--grey6);
      font-size: 1vw;
    }

    button {
      background-color: var(--blue5);
      color: $white1;
      width: 40%;
      border: 0.1vw solid var(--blue3);;
      border-radius: 0.3vw;
      padding: 3%;
      font-size: 1.2vw;
      cursor: pointer;
    }

    button:hover {
      background-color: var(--black2);
    }
  }
}

.unauthorized {
  font-size: 30px;
  margin-top: 250px;
  align-self: center;
}

body {
  background-color: var(--blue1);
  background-color: var(--background);
}

.App {
  margin-top: 0;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #071c49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}