@import "../../../../utils.scss";

.Play {
  background-color: $black2;
  position: relative;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .showGameVue {
    //width: 90vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .configButton {
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    width: 40%;
		padding: 2%;
		color: $white1;
		background-color: $black2;
		border:0.3vw solid $white1;
		border-radius:2vw;
  }

  .configButton:hover {
    background-color: $black;
  }

  .configButtonTop 
  {
    margin-bottom: 2.5%;
  }

  .configButtonBottom
  {
    margin-top: 2.5%;
  }
}