@import "../../utils.scss";

@mixin styling() 
{
    background-color: $blue1;
    border-color: $blue3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  }

.Dropdown 
{
    display: flex;
    width: 25%;
    height: 38px;
    flex-wrap: wrap;
  
    .header 
    {
        @include styling();
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width: 100%;
        padding: 0 20px;

        .headerTitleP 
        {
            font-weight: bold;
        }
    }
  
    .list 
    {
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
      padding: 0;
      margin: 0;
      width: 100%;
  
        li 
        {
            list-style-type: none;
  
            &:first-of-type 
            {
                > button 
                {
                    border-top: 1px solid $blue3;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
            }
  
            &:last-of-type > button 
            {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
    
            button 
            {
                display: flex;
                justify-content: space-between;
                background-color: $blue2;
                font-size: 16px;
                padding: 15px 20px 15px 20px;
                border: 0;
                width: 100%;
                text-align: left;
                border-bottom: 1px solid $blue3;
                border-left: 1px solid $blue3;
                border-right: 1px solid $blue3;
    
                &:hover, &:focus 
                {
                    cursor: pointer;
                    font-weight: bold;
                    background-color: $blue3;
                }
            }
        }   
    }
}