@import '../../utils.scss';

.Game
{
    padding-top: 50px;

    .showGameVue 
    {
        /*display: block;*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hideGameVue 
    {
        display: none;
    }

    button 
    {
        background-color: $blue3;
        color: $blue2;
        cursor: pointer;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 20px;
        border: 1px solid $blue2;
        border-radius: 10px;
        padding: 20px;
        margin-top: 30px;
    }

    button:hover
    {
        background-color: $blue2;
        color: $blue1;
    }





    #canvas
    {
        background-color: $black;
        /*width: 800px;
        height: 400px;*/
    }

   #canvas:focus
    {
        outline: none;
    }
    
}










.unauthorized 
{
    font-size: 30px;
    margin-top: 250px;
    align-self: center;
}

.showGame, .showUnauthorized
{
    display: block;
}

.hideGame, .hideUnauthorized
{
    display: none;
}