@import '../../utils.scss';

.Game
{

   #canvas
   {
       margin-top: 50px;
       background-color: $grey2;
       /*width: 800px;
       height: 400px;*/
   }

    
}










.unauthorized 
{
    font-size: 30px;
    margin-top: 250px;
    align-self: center;
}

.showGame, .showUnauthorized
{
    display: block;
}

.hideGame, .hideUnauthorized
{
    display: none;
}