@import "../../../../utils.scss";

.Pong {
  position: relative;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  background-color: $black2;

  .Score {
    position: absolute;
    top: 105%;
    left: 10%;
    width: 80%;
    height: 15%;
   border-radius: 1vw;
   border:1px solid $white1;
   background-color: $grey4;
   display: flex;
   flex-direction: row;

   span {
     padding-top: 0.5%;
   }

   

   div 
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
     div 
     {
       width: 12%;
       height: 65%;
       img 
       {
         border-radius: 100%;
         width: 100%;
         min-height: 100%;
         max-height: 100%;
       }
     }

     .Name 
     {
      width:65%;
     }
   }

   .PlayerLeft
   {
     div 
     {
       margin-right:5%;
     }
     .Name
     {
       width:65%;
       text-align: left;
     }
   }

   .PlayerRight
   {
     div 
     {
       margin-left:5%;
     }
     .Name
     {
       text-align: right;
     }
   }
  }

  .HideButton 
  {
    display: none;
  }

	
	.ButtonJoinQueue
	{
		position: absolute;
    top: 53%;
    left: 30%;
		cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
		z-index: 3;
		width: 40%;
		padding: 2%;
		color: $white1;
		background-color: $black2;
		border:2px solid $white1;
		border-radius:2vw;
	}
	button:hover
	{
		background-color: $black;
	}

  .HideLoading , .HideLoadingText
  {
    display: none;
  }
  .Loading 
  {
    z-index: 34;
    width: 8%;
    height: 16%;
    position: absolute;
    top:37%;
    left:46%;
  }
  .LoadingText
  {
    z-index: 34;
    color: $white1;
    position: absolute;
    top:55%;
    left:36%;
    font-family: "Roboto Slab", serif;
  }

  .hideCanva
  {
    display: none;
  }

  .canva {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .canva:focus {
    outline: none;
  }
}
