@import '../../../../utils.scss';

.Pong {
  position: relative;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--black2);

  .Score {
    position: absolute;
    top: 102%;
    left: 10%;
    width: 80%;
    height: 15%;
    border-radius: 1vw;
    border: 1px solid $white1;
    background-color: var(--grey4);
    display: flex;
    flex-direction: row;

    span {
      padding-top: 0.5%;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 50%;
      div {
        width: 12%;
        height: 65%;
        img {
          border-radius: 100%;
          width: 100%;
          min-height: 100%;
          max-height: 100%;
        }
      }

      .Name {
        width: 65%;
      }
    }

    .PlayerLeft {
      div {
        margin-right: 5%;
      }
      .Name {
        width: 65%;
        text-align: left;
      }
    }

    .PlayerRight {
      div {
        margin-left: 5%;
      }
      .Name {
        text-align: right;
      }
    }
  }

  .HideButton {
    display: none;
  }

  .ButtonJoinQueue {
    position: absolute;
    top: 53%;
    left: 30%;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    z-index: 3;
    width: 40%;
    padding: 2%;
    color: $white1;
    background-color: var(--black2);
    border: 2px solid $white1;
    border-radius: 2vw;
  }
  button:hover {
    background-color: var(--black);
  }

  .HideLoading,
  .HideLoadingText {
    display: none;
  }
  .Loading {
    z-index: 3;
    width: 8%;
    height: 16%;
    position: absolute;
    top: 37%;
    left: 46%;
  }
  .LoadingText {
    z-index: 3;
    color: $white1;
    position: absolute;
    top: 55%;
    left: 36%;
    font-family: 'Roboto Slab', serif;
  }

  .hideCanva,.HideMatchEnd {
    display: none;
  }

  .canva {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .canva:focus {
    outline: none;
  }

  .MatchEnd{
    position: absolute;
    width: 30%;
    height:20%;
    top:40%;
    left:35%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .LinkEnd{
      cursor: pointer;
      text-decoration: none;
      width: 100%;
      color:$white1;
      padding:10% 5% ;
      border-radius: 1.5vw;
      border:0.2vw solid $white1;
    }

    .LinkEnd:hover 
    {
      background-color: var(--black);
    }
  }

  .HideBack,.HideCancel,.HideGiveUp
  {
    display: none;
  }

  .Back,.Cancel {
    position: absolute;
    left:45%;
    top:105%;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    width: 10%;
    padding: 1% 0;
    color: $white1;
    background-color: var(--black2);
    border: 0.2vw solid $white1;
    border-radius: 2vw;
    text-decoration: none;
  }

  .Cancel {
    left:44%;
    width: 12%;
  }

  .Back:hover,.Cancel:hover {
    background-color: var(--black);
  }

  .GiveUp
  {
    position: absolute;
    left:42.5%;
    top:120%;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    width: 15%;
    padding: 1.5% 0;
    color: $white1;
    background-color: $red2;
    border: 0.1vw solid $red1;
    border-radius: 2vw;
    text-decoration: none;
  }

  .GiveUp:hover
  {
    background-color: $red1;
  }
}
