@import '../../../../../../utils.scss';

.Rank {
  width: 22%;
  height: 75%;
  border-radius: 1.5vw;
  background-color: $grey6;
  margin-left: 2.39%;

  display: flex;
  flex-direction: column;
  align-items: center;
  .Top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 65%;
    margin-left: 0;
    z-index: 1;

    div {
      border-radius: 0;
      background-color: $grey2;
      border: 0.1vw solid $white1;
      width: 13%;
      margin-bottom: 3%;
    }

    #Podium2 {
      height: 0%;
      margin-right: 0;
    }
    #Podium1 {
      height: 0%;
      margin-left: 2%;
      margin-right: 2%;
    }
    #Podium3 {
      height: 0%;
      margin-left: 0;
    }
  }

  .Bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    margin-left: 0;
    background-color: $grey6;
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 1.2vw;
    }
    span {
      font-size: 0.7vw;
      margin-top: -1vw;
    }
  }
}
