@import '../../../../../../utils.scss';

@media screen and (min-width: 651px) {
  .Level {
    width: 44%;
    height: 75%;
    border-radius: 1.5vw;
    background-color: var(--grey6);
    //margin-left: 2.39%;
    margin-left: 4.8%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .Top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 65%;
      margin-left: 0;
      z-index: 1;
      #imgLevelElement {
        margin-top: 15%;
        width: 0%;
      }
    }

    .Bottom {
      width: 100%;
      height: 35%;
      background-color: var(--grey6);
      margin-left: 0;
      p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2vw;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .Level {
    width: 40%;
    height: 78%;
    border-radius: 2.5vw;
    background-color: var(--grey6);
    //margin-left: 2.39%;
    margin-left: 3%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .Top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 65%;
      margin-left: 0;
      z-index: 1;
      #imgLevelElement {
        margin-top: 15%;
        width: 0%;
      }
    }

    .Bottom {
      width: 100%;
      height: 35%;
      background-color: var(--grey6);
      border-radius: 2.5vw;
      margin-left: 0;
      p {
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
      }
    }
  }
}
