@import '../../../../../utils.scss';

@mixin styling() {
  background-color: $blue1;
  border: 0.1vw solid $blue3;
  border-radius: 0.5vw;
}

.Dropdown {
  display: flex;
  width: 120%; //changement ici
  flex-wrap: wrap;
  position: absolute;
  margin-top: 7.4vw; //changement ici
  z-index: 2;
  .header {
    @include styling();
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    width: 80%; //changement ici
    height: 2.5vw;

    .headerTitleP {
      font-weight: bold;
      font-size: 1vw;
      text-align: center;
      margin-left: 1vw;
      margin-right: 3vw;
    }
  }

  .list {
    padding: 0;
    margin: 0;
    width: 80%;

    li {
      list-style-type: none;

      &:first-of-type {
        > button {
          border-top: 0.1vw solid $blue3;
          border-top-left-radius: 0.5vw;
          border-top-right-radius: 0.5vw;
        }
      }

      &:last-of-type > button {
        border-bottom-left-radius: 0.5vw;
        border-bottom-right-radius: 0.5vw;
      }

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: $blue2;
        font-size: 1vw;
        height: 3vw;
        border: 0;
        width: 100%;
        text-align: left;
        border-bottom: 0.1vw solid $blue3;
        border-left: 0.1vw solid $blue3;
        border-right: 0.1vw solid $blue3;

        &:hover {
          cursor: pointer;
          background-color: $blue2;
          color: $blue4;
        }

        .checkLogo {
          font-size: 0.01vw;
        }
      }
    }
  }
}
