@import '../../../../utils.scss';

.Discussion {
  height: 100%;
  position: relative;
  h1 {
    margin-top: 0;
    padding: 15px 0;
    color: $white1;
    background-color: $blue5;
    margin-bottom: 0px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: $blue5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $blue4;
    border-radius: 1.5vw;
  }

  .Messages {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 78.6%;
    max-height: 78.6%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Message {
      display: flex;
      flex-direction: row;
      align-items: top;
      justify-content: top;
      width: 80%;
      color: white;
      padding: 0 5%;
      border-top: 0.8px solid $grey8;

      &:first-child {
        border-top: 0;
      }

      img {
        border-radius: 100%;
        margin-top: 24px;
        margin-right: 15px;
        width: 35px;
      }

      .MessageRight {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 100%;

        h4 {
          text-align: left;
          margin-top: 20px;
          margin-bottom: 5px;
        }

        p {
          margin: 0;
          margin-bottom: 20px;
          padding: 1px !important;
          width: 90%;
          word-wrap: break-word;
          text-align: left;

          @media screen and (max-width: 1000px) {
            width: 80%;
          }
        }
      }
    }
  }

  .InputDiv {
    margin-top: 10px;
  }
}
