@import '../../../../utils.scss';


.Discussion {
  height: 100%;
  position: relative;
  h1 {
    margin-top: 0;
    padding: 15px 0;
    color: $blue1;
    background-color: $grey5;
    background-color: $grey5;
    margin-bottom: 0px;
  }
  ::-webkit-scrollbar {
    width: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background: $grey5; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $grey2; 
    border-radius: 20px;
  }

  .Messages
  {
    
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 75.6%;
    max-height: 75.6%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Message
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80%;
      color: white;
      padding: 0 5%;
      border-top: 0.8px solid $grey8;

      &:first-child
      {
        border-top: 0;
      }
      
      h4 
      {
        margin-right: 20px;
      }

      p 
      {
        padding: 1px !important;
        width: 76%;
        word-wrap:break-word;
        text-align: left;
      }
    }
  }

  .InputDiv
  {
    margin-top: 10px;

  }
}
