@import '../../../utils.scss';

.Friends {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95vw;

  h2 {
    color: $white1;
  }

  .FriendsLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid $grey1;

    .list {
      padding-left: 1vw;
      padding-top: 15px;
      width: 100%;

      .friendsListElement {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        padding-left: 3%;
        padding-bottom: 10px;
        border-bottom: 1px solid $grey1;

        img {
          width: 45px;
          border-radius: 100%;
          border: 3px solid $blue4;
        }

        p {
          margin-left: 3%;
          font-size: 20px;
        }

        button {
          font-size: 15px;
          border-radius: 10px;
          border: 1px solid black;
          height: 30px;
          color: $white1;
          cursor: pointer;
        }

        .delete {
          background-color: red;
          margin-left: auto;
          margin-right: 4%;
        }
      }
    }
  }

  .FriendsRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;

    h2 {
      align-self: flex-start;
      text-align: left;
    }

    .AddFriends {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid $grey1;
      padding-bottom: 20px;
      padding-left: 1vw;

      form {
        align-self: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 20px 0;

        input {
          margin-left: 5px;
          margin-right: 20px;
          border: 2px solid $blue3;
          border-radius: 5px;
          color: $blue4;
        }

        input:focus {
          outline: none;
        }

        button {
          background-color: $blue4;
          color: $blue2;
          border: 1px solid $blue2;
          border-radius: 5px;
          cursor: pointer;
        }

        button:hover {
          background-color: $blue2;
          color: $blue1;
          border: 1px solid $blue4;
        }
      }
    }

    .FriendsRequest {
      padding-left: 1vw;
      padding-top: 15px;
      width: 100%;

      .request {
        .friendsRequestsElement {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 80%;
          padding: 10px;
          border-bottom: 1px solid $grey1;

          img {
            width: 45px;
            border-radius: 100%;
            border: 3px solid $blue4;
          }

          p {
            margin-left: 3%;
            font-size: 20px;
          }

          button {
            font-size: 12px;
            border-radius: 10px;
            border: 1px solid black;
            height: 30px;
            color: $white1;
            cursor: pointer;
          }

          .accept {
            margin-left: auto;
            background-color: $green1;
          }

          .refuse {
            margin-right: 2%;
            margin-left: 2%;
            background-color: $red1;
          }
        }
      }
    }
  }
}
