@import "../../../../utils.scss";

.Room {
  background-color: $black2;
  position: relative;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .ButtonJoinQueue
	{
		position: absolute;
    top: 53%;
    left: 30%;
		cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
		z-index: 3;
		width: 40%;
		padding: 2%;
		color: $white1;
		background-color: $black2;
		border:2px solid $white1;
		border-radius:2vw;
	}
	button:hover
	{
		background-color: $black;
	}
}