@import '../../../../../../utils.scss';

.MyFriends {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 87%;
  border-radius: 1.5vw;
  background-color: $black;
  margin-left: 2.8%;
  margin-right: 5%;

  h2 {
    align-self: flex-start;
    margin-left: 10%;
  }

  .list {
    width: 80%;

    .friendsListElement {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 0.4vw;
      padding-bottom: 0.2vw;
      border-bottom: 1px solid $grey1;

      img {
        margin-left: 20%;
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 100%;
        border: 0.2vw solid $white1;
      }

      p {
        margin-left: 6%;
        font-size: 1.3vw;
        margin-bottom: 6.7%;
      }

      button {
        font-size: 1.1vw;
        padding: 0.5vw;
        border-radius: 0.7vw;
        border: 0.1vw solid $black;
        color: $white1;
        cursor: pointer;
      }

      .delete {
        background-color: red;
        margin-left: auto;
        margin-right: 4%;
      }
    }
  }
}