@import '../../utils.scss';

.Chat {
  display: flex;
  flex-direction: row;
  font-family: 'Arial', cursive;

  ::-webkit-scrollbar {
    width: 0.4vw;
  }

  ::-webkit-scrollbar-track {
    background:var(--blue5);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--blue5);
    border: 0.01vw solid rgb(95, 93, 93);
    border-radius: 1.5vw;
  }

  .ChatLeft {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
  }

  .ChatLeftButton {
    border: none;
    color: $white1;
    width: 80%;
    border: 0.1vw solid var(--black2);
    background-color: var(--blue4);
    cursor: pointer;
  }

  .ChatLeftButton:hover {
    background-color: var(--black2);
  }

  h3 {
    background-color: var(--blue5);
    width: 100%;
    margin-bottom: 0;
  }

  .Messages {
    margin-top: 0;
  }

  p {
    margin: 0;
    width: 100%;
    color: $white1;
    cursor: pointer;
  }

  .ChannelName:hover {
    background-color: var(--blue6);
  }
}

@media screen and (min-width: 651px) {
  .Chat {
    align-items: center;
    justify-content: center;

    .OpenChatLeftButton {
      display: none;
    }
    .ChatLeft {
      min-width: 19vw;
      max-width: 19vw;
      height: 81vh;

      .CloseChatLeftButton {
        display: none;
      }

      .ChatLeftButton {
        margin-top: 1vw;
        margin-left: 3%;
        padding: 0.8vw;
        border-radius: 0.5vw;
        font-size: 1.2vw;
      }

      h3 {
        padding: 1vw;
        font-size: 1.2vw;
        padding-left: 12%;
        margin-bottom: 0;
      }

      .Channels {
        margin-top: 1vw;
      }

      p {
        padding: 0.9vw;
        font-size: 1.1vw;
        padding-left: 12%;
      }
    }

    .ChatCenter {
      min-width: 62.5vw;
      max-width: 62.5vw;
      height: 81vh;
      overflow-y: scroll;
      overflow-x: hidden;

      h1 {
        margin-top: 0;
        padding: 15px 0%;
        color: $white1;
        background-color: var(--blue5);
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .ChatRight {
      min-width: 19vw;
      max-width: 19vw;
      height: 81vh;
    }
  }
}

@media screen and (max-width: 650px) {
  .Chat {
    // background-color:black;
    position: relative;
    .OpenChatLeftButton {
      z-index: 7;
      position: absolute;
      top: 5.5vw;
      left: 7vw;
      width: 6vw;
      height: 4vw;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      span {
        color: $white1;
        background-color: var(--black2);
        border-radius: 1vw;
        font-size: 8vw;
      }
    }
    .HideChatLeft {
      visibility: hidden;
      left: -100vw;
    }

    .ShowChatLeft {
      left: 0;
      visibility: visible;
    }
    .ChatLeft {
      transition: all 0.8s ease-out;
      background-color: var(--blue1);
      z-index: 8;
      position: fixed;
      min-width: 50vw;
      max-width: 50vw;
      height: -webkit-calc(100vh - 25vw);
      position: relative;

      .CloseChatLeftButton {
        position: absolute;
        border: none;
        left: 90%;
        width: 5vw;
        height: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $red1;
        cursor: pointer;
        span {
          font-size: 5vw;
          color: $white1;
        }
      }

      .CloseChatLeftButton:hover {
        background-color: $red2;
      }

      .ChatLeftButton {
        margin-top: 3vw;
        padding: 1.5vw;
        width: 70%;
        border-radius: 1vw;
        font-size: 4vw;
      }

      .Channels {
        margin-top: 3vw;
      }

      h3 {
        text-align: center;
        font-size: 4vw;
        padding: 2vw;
        margin-left: 3%;
      }

      p {
        padding: 2vw;
        font-size: 3.5vw;
        margin-left: 3%;
      }
    }
    .ChatCenter {
      min-width: 100vw;
      max-width: 100vw;
      position: fixed;
      left: 0;
      min-height: -webkit-calc(100vh - 0vw);
      max-height: -webkit-calc(100vh - 0vw);
      overflow-y: scroll;
      overflow-x: hidden;

      h1 {
        margin-top: 0;
        padding: 4vw 0vw;
        color: $white1;
        font-size: 6vw;
        background-color: var(--blue5);
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .HideChatRight {
      visibility: hidden;
      right: -100vw;
    }

    .ShowChatRight {
      right: 0;
      visibility: visible;
    }

    .ChatRight {
      min-width: 50vw;
      max-width: 50vw;
      height: 81vh;
      position: fixed;
      transition: all 0.8s ease-out;
      z-index: 8;
    }
  }
}
