@import '../../utils.scss';

.Chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*padding-top: 50px;*/
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -10px;
  font-family: 'Arial', cursive;

  ::-webkit-scrollbar {
    width: 0.4vw;
  }

  ::-webkit-scrollbar-track {
    background: $blue5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $blue5;
    border: 0.01vw solid rgb(95, 93, 93);
    border-radius: 1.5vw;
  }

  .ChatLeft {
    width: 19vw;
    height: 82.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    .ChatLeftButton {
      border: none;
      color: $white1;
      margin-top: 1vw;
      padding: 0.8vw;
      border-radius: 0.5vw;
      width: 80%;
      font-size: 1.2vw;
      border: 0.05vw solid $grey2;
      background-color: $blue4;
      cursor: pointer;
    }

    .ChatLeftButton:hover {
      background-color: $blue3;
    }

    h3 {
      margin-top: 1vw;
      background-color: $blue5;
      width: 100%;
      padding: 1vw;
      font-size: 1.2vw;
      margin-bottom: 0;
    }

    .Messages {
      margin-top: 0;
    }

    p {
      margin: 0;
      width: 100%;
      color: $white1;
      padding: 0.9vw;
      cursor: pointer;
      font-size: 1.1vw;
    }

    p:hover {
      background-color: $blue6;
    }
  }

  .ChatCenter {
    width: 66vw;
    height: 82.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .ChatRight {
    width: 19vw;
    height: 82.5vh;
  }
}
