@import '../../../../utils.scss';

@mixin styling() {
  background-color: $black2;
  border: 1px solid $white1;
  border-radius: 0.5vw;
}

.HideDropdown {
  display: none;
}

.Dropdown {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 9;
  width: 28%;

  .header {
    @include styling();
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;

    .headerTitleP {
      font-weight: bold;
      text-align: left;
      font-size: 35%;
      width: max-content;
      margin-left: 15%;
    }

    .headerChoice {
      font-size: 35%;
      width: max-content;
      margin-left: 15%;
    }
  }

  .list {
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      list-style-type: none;

      &:first-of-type {
        > button {
          border-top: 0.1vw solid $white1;
          border-top-left-radius: 0.5vw;
          border-top-right-radius: 0.5vw;
        }
      }

      &:last-of-type > button {
        border-bottom-left-radius: 0.5vw;
        border-bottom-right-radius: 0.5vw;
      }

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $black2;
        color: $blue2;
        border: 0;
        text-align: left;
        border-bottom: 0.1vw solid $white1;
        border-left: 0.1vw solid $white1;
        border-right: 0.1vw solid $white1;
        padding-left: 5%;
        font-size: 30%;
        width: 100%;

        &:hover {
          cursor: pointer;
          background-color: $black;
        }

        span {
          font-size: 125%;
          margin-right: 5%;
        }
      }
    }
  }
}
