@import '../../../../utils.scss';

.Settings {
  background-color: $grey6;
  display: flex;
  flex-direction: row;
  border-radius: 1.5vw;
  width: 65vw;
  height: 38.8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .SettingsLeft {
    width: 40%;
    height: 79.5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
      width: 100%;
      background-color: $blue1;
      border-radius: 1.5vw;
    }
    .DoubleAuth {
      height: 25%;
    }
    .Username {
      height: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 1%;
        font-size: 1.5vw;
      }

      .HideUsernameBottom,
      .HideUsernameBottomChange {
        display: none;
      }
      .ShowUsernameBottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10%;
        width: 80%;
        height: 45%;
        p {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          width: 50%;
          padding-left: 3%;
          background-color: $grey4;
          color: $grey2;
          font-size: 1.2vw;
          height: 55%;
          border-radius: 0.1vw;
          border: 0.1vw solid $blue3;
        }

        button {
          width: 12%;
          height: 60%;
          margin-left: 2.5%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: 0.1vw solid $blue3;

          span {
            font-size: 1.5vw;
          }
        }

        button:hover {
          background-color: $blue3;
        }
      }

      .ShowUsernameBottomChange {
        margin-left: 10%;
        width: 80%;
        height: 45%;

        form {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          height: 100%;
          .NewName {
            width: 50%;
            padding-left: 3%;
            background-color: $grey10;
            font-size: 1vw;
            height: 55%;
            color: $black;
            border-radius: 0.1vw;
            border: 0.1vw solid $blue3;
            outline: none;
          }

          .ValidNewName {
            width: 12%;
            height: 60%;
            margin-left: 2.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 0.1vw solid $green3;

            span {
              font-size: 1.5vw;
              color: $green1;
            }
          }

          .ValidNewName:hover {
            background-color: $green3;
            border: 0.1vw solid $green1;
          }
        }
      }
    }

    .Avatar {
      height: 35%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.5vw;
      }
      .AvatarBottom
      {
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 90%;

        div 
        {
          width: 20%;
          img{
            width: 100%;
            border-radius: 100%;
          }

        }
        form 
        {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .ValidNewAvatar
          {
            width: 15%;
          }
        }
      }
    }
  }


  .UsersBlock {
    width: 40%;
    height: 80%;
    background-color: $blue1;
    border-radius: 1.5vw;
  }
}
