@import '../../../../utils.scss';

.Settings {
  background-color: $grey6;
  display: flex;
  flex-direction: row;
  border-radius: 1.5vw;
  width: 65vw;
  height: 38.8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .SettingsLeft {
    width: 40%;
    height: 79.5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
      width: 100%;
      background-color: $blue1;
      border-radius: 1.5vw;
    }
    .Theme {
      height: 25%;
    }
    .Username {
      height: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 1%;
        font-size: 1.5vw;
      }

      .HideUsernameBottom,
      .HideUsernameBottomChange {
        display: none;
      }
      .ShowUsernameBottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10%;
        width: 80%;
        height: 45%;
        p {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          width: 50%;
          padding-left: 3%;
          background-color: $grey4;
          color: $grey2;
          font-size: 1.2vw;
          height: 55%;
          border-radius: 0.1vw;
          border: 0.1vw solid $blue3;
        }

        button {
          width: 12%;
          height: 60%;
          margin-left: 2.5%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: 0.1vw solid $blue3;

          span {
            font-size: 1.5vw;
          }
        }

        button:hover {
          background-color: $blue3;
        }
      }

      .ShowUsernameBottomChange {
        margin-left: 10%;
        width: 80%;
        height: 45%;

        form {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          height: 100%;
          .NewName {
            width: 50%;
            padding-left: 3%;
            background-color: $grey10;
            font-size: 1vw;
            height: 55%;
            color: $black;
            border-radius: 0.1vw;
            border: 0.1vw solid $blue3;
            outline: none;
          }

          button {
            width: 12%;
            height: 60%;
            margin-left: 2.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: $blue1;

            span {
              font-size: 1.5vw;
            }
          }

          .ValidNewName {
            border: 0.1vw solid $green3;

            span {
              color: $green3;
            }
          }

          .ValidNewName:hover {
            background-color: $green1;
          }

          .NoValidNewName {
            border: 0.1vw solid $red1;

            span {
              color: $red2;
            }
          }

          .NoValidNewName:hover {
            background-color: $red1;
            border: 0.1vw solid $red2;
          }
        }
      }
    }

    .Avatar {
      height: 35%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.5vw;
      }

      .HideAvatarBottomInChange,
      .HideAvatarBottom {
        display: none;
      }
      .ShowAvatarBottom {
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 90%;

        div {
          width: 20%;
          img {
            width: 4.5vw;
            height: 4.5vw;
            border-radius: 100%;
          }
        }

        button {
          margin-left: 5%;
          margin-top: 5%;
          width: 10%;
          height: 45%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: 0.1vw solid $blue3;

          span {
            font-size: 1.5vw;
          }
        }

        button:hover {
          background-color: $blue3;
        }
      }

      .ShowAvatarBottomInChange {
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 90%;

        div {
          width: 20%;
          img {
            width: 4.5vw;
            height: 4.5vw;
            border-radius: 100%;
          }
        }
        .AvatarBottomChange {
          margin-left: 5%;
          margin-top: -1%;
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: flex-start;
          .buttonChooseFile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            border-radius: 0.3vw;
            background-color: $grey6;
            color: $white1;
            border: none;
            cursor: pointer;
            width: 100%;
            height: 35%;

            span {
              margin-left: 2%;
              margin-right: 6%;
              font-size: 1.2vw;
            }
            p {
              width: 100%;
              font-size: 1vw;
              overflow: hidden;
              white-space: nowrap;
              display: block;
              text-overflow: ellipsis;
              text-align: left;
            }
          }
          .buttonChooseFile:hover {
            background-color: $grey2;
          }

          .ButtonsValidation {
            display: flex;
            flex-direction: row;
            align-items: left;
            justify-content: left;
            margin-top: 5%;
            height: 40%;
            width: 100%;

            button {
              width: 18%;
              height: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              background-color: $blue1;

              span {
                font-size: 1.5vw;
              }
            }

            .ValidNewAvatar {
              border: 0.1vw solid $green3;
              margin-right: 2%;

              span {
                color: $green3;
              }
            }

            .ValidNewAvatar:hover {
              background-color: $green1;
            }

            .NoValidNewAvatar {
              border: 0.1vw solid $red2;
              margin-left: 2%;

              span {
                color: $red2;
              }
            }

            .NoValidNewAvatar:hover {
              background-color: $red1;
            }
          }
        }
      }
    }
  }

  .SettingsRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 80%;
    border-radius: 1.5vw;

    .DoubleAuth {
      width: 100%;
      height: 46%;
      background-color: $blue1;
      border-radius: 1.5vw;

      display:flex;
      flex-direction: column;
      align-items: left;
      position: relative;

      h3 
      {
        text-align: left;
        margin-left: 10%;
        font-size: 1.5vw;
        margin-bottom: 4%;
      }

      .DoubleAuthMiddle
      {
        width: 100%;
        height: 60%;
        margin-top: 0;
        margin-left: 10%;
        //z-index: 2;
      }

      .hideDoubleAuthEnable2faInProgress
      {
        display: none;
      }

      .showDoubleAuthEnable2faInProgress
      {
        position: absolute;
        margin-top: 31%;
        margin-top: 31%;
        margin-left: 15%;
        z-index: 1;
        display: flex;
        flex-direction: row;
        width: 90%;

        img {
          width: 5vw;
          height: 5vw;
        }

        .Right 
        {
          margin-left: 9%;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 46%;

          input 
          {
            margin-top: 4%;
            margin-bottom: 6%;
            width: 95%;
            background-color: $grey2;
            border: 1px solid $grey2;
            border-radius: 3vw;
            font-size: 1vw;
            height: 1.2vw;
            outline: none;
            color: $white1;
            padding: 0.2vw 0.4vw;
            text-align: center;
          }

          button 
          {
            background-color: $grey4;
            color: $white1;
            width: 60%;
            border: 0.1vw solid $blue3;
            border-radius: 0.3vw;
            padding: 3%;
            cursor: pointer;
            font-size: 1vw;
          }

          button:hover 
          {
            background-color: $grey6;
          }
        }
      }
    }

    .UsersBlock 
    {
      width: 100%;
      height: 46%;
      background-color: $blue1;
      border-radius: 1.5vw;

      display:flex;
      flex-direction: column;
      align-items: left;

      h3 
      {
        text-align: left;
        margin-left: 10%;
        font-size: 1.5vw;
        margin-bottom: 3%;
      }
    }
    

  }
}
