@import '../../utils.scss';

.Friends 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;

    h2 
    {
        color: $white1;
    }

    .FriendsLeft
    {
        display: flex;
        flex-direction: column;
        width: 45%;
        border-right: 1px solid $grey1;

    }

    .FriendsRight
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 45%;


        .AddFriends
        {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-bottom: 1px solid $grey1;
            padding-bottom: 20px;
            padding-left: 1vw;

            h2 
            {
                align-self: flex-start;
            }


            form 
            {
                align-self: center;
                display: flex;
                flex-direction: row;
                width:100%;
                margin: 20px 0;

                input 
                {
                    margin-left: 5px;
                    margin-right: 20px;
                    border: 2px solid $blue3;
                    border-radius: 5px;
                    color: $blue4;
                }

                input:focus
                {
                    outline: none;
                }

                button 
                {
                    background-color: $blue4;
                    color: $blue2;
                    border: 1px solid $blue2;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover
                {
                    background-color: $blue2;
                    color: $blue1;
                    border: 1px solid $blue4;
                }
            }
        }

        .FriendsRequest
        {
            padding-left: 1vw;
            padding-top: 15px;
        }
    }
}