@import '../../utils.scss';

.Profile
{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .User 
    {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img 
        {
            margin-right: 10px;
            width: 50px;
            border-radius: 100%;
            border: 3px solid $blue3;
        }

        h1 
        {
            margin-left: 10px;
            font-size: 30px;
            color: $white1;
        }
    }

    .Menu 
    {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p 
        {
            width: 200px;
            font-size: 25px;
            padding: 10px;
            cursor: pointer;
        }
        
        .History 
        {
            border: 1px solid $grey1;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .Stats 
        {
            border-top: 1px solid $grey1;
            border-bottom: 1px solid $grey1;
        }

        .Friends 
        {
            border: 1px solid $grey1;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .activeMenu
        {
            background-color: $blue3;
        }

        .disactiveMenu
        {
            background-color: $blue1;
        }

    }

    .activeInfo 
    {
        display: block;
    }

    .disactiveInfo 
    {
        display: none;
    }

    .StatsInfo
    {
        flex-direction: column;
        font-weight: bold;
    
        .Victory 
        {
            color: $green1;
        }

        .Defeats
        {
            color: $red1;
        }
    }

    .FriendsInfo
    {
        
    }


}










.unauthorized 
{
    font-size: 30px;
    margin-top: 250px;
    align-self: center;
}

.showProfile, .showUnauthorized
{
    display: block;
}

.hideProfile, .hideUnauthorized
{
    display: none;
}