@import '../../utils.scss';

.Profile {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .ProfileLeft {
    display: flex;
    flex-direction: column;
    height: 38.8vw;

    .User {
      margin-bottom: 15%;
      margin-right: 2vw;
      background-color: $grey6;
      width: 15vw;
      border-radius: 1.5vw;
      height: 40%;
      img {
        margin-top: 10%;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
      }
      h1 {
        margin-top: 3%;
        font-size: 2vw;
      }
    }

    .Menu {
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-right: 2vw;
      background-color: $grey6;
      width: 15vw;
      border-radius: 1.5vw;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        /*border-radius: 1.5vw;*/
        cursor: pointer;

        span {
          margin-left: 1vw;
          font-size: 1.5vw;
        }

        p {
          margin-left: 1vw;
          font-size: 1.1vw;
        }
      }

      .Stats {
        border-top-left-radius: 1.5vw;
        border-top-right-radius: 1.5vw;
      }

      .Settings {
        border-bottom-left-radius: 1.5vw;
        border-bottom-right-radius: 1.5vw;
      }

      div.disactiveMenu:hover {
        background-color: $blue6;
      }
    }
  }

  .activeMenu {
    background-color: $grey2;
    color: $black;
  }

  .disactiveMenu {
    background-color: $grey6;
  }

  .activeInfo {
    display: block;
  }

  .disactiveInfo {
    display: none;
  }
}
