@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');



$blue1: #081531;
$blue2: #61dafb;
$blue3: #134fc7;
$blue4: #003194;
$blue5: rgba(15, 40, 94, 0.562);
$blue6: rgba(12, 31, 71, 0.562);

$blue1: #222121;
$blue2: #ffffff;
$blue3: #0f49c7;
$blue4: #394257;
$blue4: #3b3d3b;
$blue5: rgba(14, 14, 15, 0.562);
$blue6: rgba(22, 23, 26, 0.562);

$grey1: #34344c;
$grey2: #7c7c86;
$grey3: #2f3137;
$grey4: #33353b;
$grey5: #3a3c43;
$grey6: #4b5052;
$grey7: #73737a;
$grey8: #595961;
$grey9: #63615e;
$grey10: #f0ecec;
$green1: rgb(9, 155, 9);
$green2: rgb(24, 189, 24);
$green3: #4bec00;
$white1: #ffffff;
$red1: rgba(255, 0, 0, 0.753);
$red2: rgb(255, 0, 0);
$orange1: rgba(255, 123, 0, 0.87);
$blue: #003194;
$black: $blue1;
$black2: #000000;