@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$blue1: #081531;
$blue2: #61dafb;
$blue3: #134fc7;
$blue4: #003194;
$white1: #ffffff;
$grey1: #34344c;
$grey2: #7c7c86;
$green1: rgb(9, 155, 9);
$red1: red; 
$black: #000000;