@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$blue1: #081531;
$blue2: #61dafb;
$blue3: #134fc7;
$blue4: #003194;
$blue5: rgba(15, 40, 94, 0.562);
$blue6: rgba(12, 31, 71, 0.562);

$blue1: #000000;
$blue2: #4bec00;
$blue3: #0f49c7;
$blue4: #394257;
$blue5: rgba(22, 23, 26, 0.562);
$blue6: rgba(22, 23, 26, 0.562);

$white1: #ffffff;
$grey1: #34344c;
$grey2: #7c7c86;
$grey3:#2f3137;
$grey4: #33353b;
$grey5: #3a3c43;
$grey6: #34363d;
$grey7: #73737a;
$grey8: #595961;
$green1: rgb(9, 155, 9);
$green2: rgb(24, 189, 24);;
$red1: rgba(255, 0, 0, 0.753); 
$black: #000000;
$orange1: rgba(255, 123, 0, 0.87);
