@import '../../../../utils.scss';

.Invite {
  background-color: $black2;
  position: relative;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .ListInvite {
    width: 60%;
    height: 60%;
    overflow-y: auto;
    border: 0.2vw solid $white1;
    border: 1px solid $black;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .Invitation {
      margin-top: 3%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      min-width: 90%;
      max-width: 90%;
      height: 20%;
      border: 1px solid $white1;
      //border:1px solid $black;
      border-radius: 1vw;

      .Text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        min-width: 80%;
        max-width: 80%;
        text-align: left;

        .Username {
          max-width: 40%;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 5%;
          margin-right: 2%;
        }
      }

      button {
        width: 15%;
        background-color: $black2;
        border: 1px solid $white1;
        //border:1px solid $black;
        border-radius: 0.5vw;
        color: $white1;
        padding: 1%;
        cursor: pointer;
        margin-right: 0% !important;

        .Link {
          color: $white1;
          text-decoration: none;
        }
      }

      button:hover {
        background-color: $black;
      }
    }
  }
}
