@import '../../../../utils.scss';

.Watch {
  background-color: $black2;
  position: relative;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .ListGame {
    width: 60%;
    height: 60%;
    overflow-y: auto;
    border: 0.2vw solid $black;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .Game {
      margin-top: 2%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      min-width: 90%;
      max-width: 90%;
      height: 20%;
      border: 1px solid $white1;
      border-radius: 1vw;
      .Username {
        width: 73%;
        padding-left: 5%;
        text-align: left;
      }

      button {
        width: 17%;
        background-color: $black2;
        border: 1px solid $white1;
        //border:1px solid $black;
        border-radius: 0.5vw;
        color: $white1;
        padding: 1.1%;
        cursor: pointer;
        margin-right: 0% !important;

        .Link {
          color: $white1;
          text-decoration: none;
        }
      }

      button:hover {
        background-color: $black;
      }
    }
  }
}
