@import '../../../../utils.scss';

.RightClick
{
  display: flex;
  flex-direction: column;

  .Item:hover
  {
background-color: $black2;
  }

  .HideLink {
    display: none;
  }

  .Link {
    color: $white1;
    text-decoration: none;
  }
}