@import '../../../../../../utils.scss';

.Theme {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5vw;
  }
}
