@import '../../../../../../utils.scss';

.Theme {
  margin-bottom: 5%;
  min-height: 20vw;
  max-height: 20vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 3.5vw;
  }
}
