@import '../../../../utils.scss';

.Friends {
  background-color: $grey6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1.5vw;
  width: 65vw;
  height: 38.8vw;

  h2 {
    color: $white1;
    font-size: 1.8vw;
  }

  .FriendsLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 87%;
    border-radius: 1.5vw;
    background-color: $black;
    margin-left: 2.8%;
    margin-right: 5%;

    h2 {
      align-self: flex-start;
      margin-left: 10%;
    }

    .list {
      width: 80%;

      .friendsListElement {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 0.4vw;
        padding-bottom: 0.2vw;
        border-bottom: 1px solid $grey1;

        img {
          margin-left: 20%;
          width: 2.5vw;
          border-radius: 100%;
          border: 0.2vw solid $white1;
        }

        p {
          margin-left: 6%;
          font-size: 1.3vw;
          margin-bottom: 6.7%;
        }

        button {
          font-size: 1.1vw;
          padding: 0.5vw;
          border-radius: 0.7vw;
          border: 0.1vw solid $black;
          color: $white1;
          cursor: pointer;
        }

        .delete {
          background-color: red;
          margin-left: auto;
          margin-right: 4%;
        }
      }
    }
  }

  .FriendsRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
    height: 87%;
    margin-left: -2%;

    h2 {
      align-self: flex-start;
      text-align: left;
    }

    .AddFriends {
      border-radius: 1.5vw;
      background-color: $black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid $grey1;
      padding-bottom: 1.5vw;
      padding-left: 1vw;

      form {
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 1vw 0;
        font-size: 1.3vw;

        input {
          padding: 0.5vw;
          margin-left: 0.5vw;
          width: 10vw;
          border-radius: 1.5vw;
          border: 1px solid $blue1;
          background-color: $grey7;
          color: $white1;
        }

        input:focus {
          outline: none;
        }

        button {
          background-color: $blue4;
          color: $blue2;
          border: 1px solid $blue2;
          border-radius: 5px;
          cursor: pointer;
        }

        button:hover {
          background-color: $blue2;
          color: $blue1;
          border: 1px solid $blue4;
        }
      }
    }

    .FriendsRequest {
      padding-left: 1vw;
      width: 100%;
      margin-top: 3.5vh;
      border-radius: 1.5vw;
      background-color: $black;
      height: 70%;

      .request {
        margin-top: -2%;
        .friendsRequestsElement {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 90%;
          padding: 0.4vw;
          border-bottom: 1px solid $grey1;

          img {
            width: 35px;
            width: 2.5vw;
            border-radius: 100%;
            border: 0.2vw solid $white1;
          }

          p {
            margin-left: 3%;
            font-size: 1.1vw;
          }

          button {
            font-size: 0.8vw;
            border-radius: 0.7vw;
            padding: 0.5vw;
            border: 1px solid black;
            color: $white1;
            cursor: pointer;
          }

          .accept {
            margin-left: auto;
            background-color: $green1;
          }

          .refuse {
            margin-right: 2%;
            margin-left: 2%;
            background-color: $red1;
          }
        }
      }
    }
  }
}
