@import '../../../../utils.scss';

.Friends {
  background-color: $grey6;
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
  border-radius: 20px;
  width: 65vw;
  height: 73vh;

  h2 {
    color: $white1;
  }

  .FriendsLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 87%;
    /*border-right: 1px solid $grey1;*/
    margin-top: 5vh;
    border-radius: 20px;
    background-color: $black;
    margin-left: 2.8%;
    margin-right: 5%;

    .list {
      width: 80%;

      .friendsListElement {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $grey1;

        img {
          margin-left: 20%;
          width: 45px;
          border-radius: 100%;
          border: 3px solid $blue4;
        }

        p {
          margin-left: 6%;
          font-size: 20px;
        }

        button {
          font-size: 15px;
          border-radius: 10px;
          border: 1px solid black;
          height: 30px;
          color: $white1;
          cursor: pointer;
        }

        .delete {
          background-color: red;
          margin-left: auto;
          margin-right: 4%;
        }
      }
    }
  }

  .FriendsRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-left: -2%;

    h2 {
      align-self: flex-start;
      text-align: left;
    }

    .AddFriends {
      margin-top: 5vh;
      border-radius: 20px;
      background-color: $black;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid $grey1;
      padding-bottom: 20px;
      padding-left: 1vw;

      form {
        align-self: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 20px 0;

        input {
          margin-left: 5px;
          margin-right: 20px;
          border: 2px solid $blue3;
          border-radius: 5px;
          color: $blue4;
        }

        input:focus {
          outline: none;
        }

        button {
          background-color: $blue4;
          color: $blue2;
          border: 1px solid $blue2;
          border-radius: 5px;
          cursor: pointer;
        }

        button:hover {
          background-color: $blue2;
          color: $blue1;
          border: 1px solid $blue4;
        }
      }
    }

    .FriendsRequest {
      padding-left: 1vw;
      width: 100%;
      margin-top: 3.5vh;
      border-radius: 20px;
      background-color: $black;
      height: 55.4%;

      .request {
        margin-top: -2%;
        .friendsRequestsElement {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 90%;
          padding: 10px;
          border-bottom: 1px solid $grey1;

          img {
            width: 35px;
            border-radius: 100%;
            border: 3px solid $blue4;
          }

          p {
            margin-left: 3%;
            font-size: 15px;
          }

          button {
            font-size: 12px;
            border-radius: 10px;
            border: 1px solid black;
            height: 30px;
            color: $white1;
            cursor: pointer;
          }

          .accept {
            margin-left: auto;
            background-color: $green1;
          }

          .refuse {
            margin-right: 2%;
            margin-left: 2%;
            background-color: $red1;
          }
        }
      }
    }
  }
}
